# Behavora - Dev Environment
DEMO_BEHAVORA_DEV_API_BASE_URL=https://dev.behavora.com
DEMO_BEHAVORA_DEV_SCRIPT_SRC=https://dev-cdn.behavora.com/widget/loader.js
DEMO_BEHAVORA_DEV_SITE_ID=your_dev_site_id
DEMO_BEHAVORA_DEV_WS_KEY=your_dev_ws_key
DEMO_BEHAVORA_DEV_WS_HOST=dev.behavora.com
DEMO_BEHAVORA_DEV_WS_PORT=443

# Behavora - Production Environment
DEMO_BEHAVORA_PROD_API_BASE_URL=https://app.behavora.com
DEMO_BEHAVORA_PROD_SCRIPT_SRC=https://cdn.behavora.com/widget/loader.js
DEMO_BEHAVORA_PROD_SITE_ID=your_prod_site_id

# Behavora - Local Development
DEMO_BEHAVORA_LOCAL_API_BASE_URL=http://localhost:8082
DEMO_BEHAVORA_LOCAL_SCRIPT_SRC=http://localhost:5173/dist/journey-predictor-widget.umd.js
DEMO_BEHAVORA_LOCAL_SITE_ID=your_local_site_id
DEMO_BEHAVORA_LOCAL_WS_KEY=appkey
DEMO_BEHAVORA_LOCAL_WS_HOST=localhost
DEMO_BEHAVORA_LOCAL_WS_PORT=8080
